{% extends "./base.njk" %}

{% block content %}
  {% for classified in classifieds %}
    <div>
      <a href="/classifieds/{{ classified.id }}">{{ classified.title }}</a>
      <br />
      <span>{{ classified.platform }} | {{ classified.game }} | {{ classified.playKind}} | Ages {{ classified.minAge}} - {{classified.maxAge}} | {{ classified.continent }}<span>
    </div>
  {% endfor %}
{% endblock %}
